<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://afeld.github.io/emoji-css/emoji/space_invader.png" type="image/x-icon" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">

    <title>Cocavi Extractor</title>
</head>
<body>
<div class="container-fluid">
    <a href="{{ path('homepage') }}"><h1>Cocaví Extractor!</h1></a>
    <h6><a href="{{ path('homepage') }}">Home</a> |
        <a href="{{ path('streamed_podcasts') }}">Esc&uacute;chalo Primero!</a> |
        <a href="" id="que-hace-link">Qué hace?</a> |
        <a href="https://github.com/MiguelAlcaino/cocavi-extractor">Fork me</a> |
        By <a href="http://miguelalcaino.cl" target="_blank">Miguel Alcaino</a> <i class="em em-rocket"></i>
    </h6>
    <ul id="que-hace-list" class="list-group" style="display: none;">
        <li class="list-group-item list-group-item-success">Cocav&iacute; Extractor es una herramienta que extrae y facilita la descarga los podcast de Cocav&iacute; de radio Rinoceronte.</li>
        <li class="list-group-item list-group-item-info">En la secci&oacute;n <strong>Home</strong> encontrar&aacute;s la lista de capitulos publicados por radio Rinoceronte en su p&aacute;gina web.
            La diferencia es que ac&aacute; podr&aacute;s decargar el cap&iacute;tulo y avanzar y retroceder cuando est&eacute;s escuchando.</li>
        <li class="list-group-item list-group-item-warning">En la secci&oacute;n <strong>Escuchalo primero!</strong> podr&aacute;s escuchar los cap&iacute;tulos 15 minutos desp&uacute;es de que terminan!.
         Esto es logrado gracias a un robot que se pone a grabar el Cocav&iacute; de Lunes a Viernes a las 12.00 para despu&eacute;s subirlo a un servidor.</li>
        <li class="list-group-item list-group-item-danger">Si eres un desarrollador Symfony y quieres contribuir con el proyecto clickea <strong>Fork me!</strong></li>
    </ul>

    {% block content %}{% endblock %}
</div>
<script src="{{ asset('bundles/app/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/main.js') }}"></script>
</body>
</html>
